*/**/.undodir
lazy-lock.json
home/.config/opencode/amp_stuff/
.envrc
backups/
homebrew/failed_packages_*.txt
tmp/
.DS_STORE

# Python
__pycache__/
*.pyc

# opencode
home/.config/opencode/node_modules/

# Raycast
home/.config/raycast/

home/.config/qBittorrent/

home/.config/configstore/update-notifier-\@docusaurus/
