# limit the ability for npm to fetch dependencies from git references.
allow-git=none

# pnpm-specific, so we don't have to `-w` anytime we bump root workspace dependencies.
ignore-workspace-root-check=true

# only versions that were available more than the given number of days ago will be installed.
min-release-age=1

# install exact package versions only.
save-prefix=""
